<%- include('partials/header') %>

<section class="jumbotron container mt-5">
	<h1>Welcome!</h1> 
	<p class="mt-5"><a href="/signin" class="btn btn-primary">Login</a></p>
	<p class="mt-5"><a href="/signup" class="btn btn-primary">Register</a></p>
</section>

<%- include('partials/footer') %>
